@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 196, 37%, 24%;
    --primary-foreground: 210 40% 98%;
    --primary-light: 196, 39%, 39%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --input: 214.3 31.8% 91.4%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .bg-hero {
    background-color: #e2f2ff;
  }
}

textarea {
  &:focus, &:focus-visible, &:active, &:focus-within {
    outline: none !important;
  }
}

.link {
  @apply relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-black hover:bg-blue-600;

  &-active {
    @apply relative inline-flex items-center px-4 py-2 border border-gray-300 bg-blue-700 text-sm font-medium text-white;
  }
}

.carousel-container {
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  width: 362px;
  height: 272px;
  margin: 0 auto;
}

.slide {
  width: 362px;
  height: 272px;
  transition: transform 500ms ease 0s, opacity 500ms ease 0s,
  visibility 500ms ease 0s;
  position: absolute;
  top: 0;
}

.css-1fzpoyk img {
  object-fit: cover !important;
}
